In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
auto = pd.read_csv(r'C:\Users\tomas\Documents\Repozytoria\uczenie_maszynowe_w_pythonie\00_data_sources\auto-mpg.csv')

In [3]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [5]:
auto.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cylinders,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
displacement,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
weight,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acceleration,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
model year,398.0,76.010050,3.697627,70.0,73.000,76.0,79.000,82.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0

In [6]:
auto.shape

(398, 9)

In [7]:
X = auto.iloc[:, 1:-1]
X = X.drop('horsepower', axis=1)

In [8]:
X.head()

   cylinders  displacement  weight  acceleration  model year  origin
0          8         307.0    3504          12.0          70       1
1          8         350.0    3693          11.5          70       1
2          8         318.0    3436          11.0          70       1
3          8         304.0    3433          12.0          70       1
4          8         302.0    3449          10.5          70       1

In [9]:
y = auto.loc[:, 'mpg']
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [10]:
lr = LinearRegression()
lr.fit(X.to_numpy(), y)
lr.score(X.to_numpy(), y)

0.8205585866916345

In [11]:
my_car1 = [4, 160, 190, 12, 90, 1]
my_car2 = [4, 200, 260, 15, 83, 1]
my_car3 = [8, 307, 3504, 12, 70, 1]
 
cars = [my_car1, my_car2, my_car3]

In [12]:
mpg_predict = lr.predict(cars)
print(mpg_predict)

[52.23767295 47.5274183  14.82982235]